.cardContainer {
    border-radius: 16px;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);

}

.cardTitle {
    font-size: var(--Size15);
    line-height: 2.25rem;
    font-weight: 400;
    color: var(--base-gray) !important;
}

.cardText {
    font-size: 1.25rem;
    line-height: var(--Size15);
    font-weight: 400;
    color: var(--base-gray) !important;
}

.customBtn {
    margin: 0.5rem 0 0.5rem 0;
    background-color: #DFBBFE;
    color: var(--base-gray);
    padding: 8px 40px;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.customBtn:hover {
    background-color: #c9a6f4;

}

@media (max-width:465px) {
    .cardTitle {
        font-size: 1.25rem;
        line-height: 1.85rem;


    }

    .cardText {
        font-size: var(--Size1);
        line-height: var(--Size15);


    }

}

@media (max-width:820px) {

    .customBtn {

        font-size: var(--Size1) !important;
        padding: 8px 32px;
        
    }
}