
.card {
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 6px 6px 16px 8px;
}

.cardImage {
    height: auto; 
}

.cardTitle {
    font-size: var(--Size15); 
    font-weight: 400; 
    color: #0C111D !important; 
    margin-bottom: 0.5rem; 
    line-height: 36px;
}


.cardDescription {
    font-size: var(--Size1); 
    color:#0C111D !important; 
    line-height: var(--Size15); 
}
