

.line{
    height: 1px; 
    background-color: #ddd; 
    
    width: 95%; 
}
.footerContainer {
    background-color: var(--base-gray); 
    color: #eaeaea; 
     
    

}


.innerContainer {
    
    display: flex;
    flex-direction: column; 
    align-items: center; 
  
    padding: 2rem 0;
}

.linkContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
   
}


.text {
    font-size: var(--Size15); 
    line-height: 36px; 
    text-align: center; 
    color:var(--base-gray2);
}


.link {
    color: var(--base-gray2);
    text-decoration: none; 
    font-weight: 500; 
    font-size: var(--Size15); 
    line-height: 23.56px; 
}

.link:hover {

    text-decoration: none; 
}
@media (max-width: 468px) {
    .link {
        color: var(--base-gray2); 
        text-decoration: none; 
        font-weight: 400; 
        font-size: var(--Size1); 
        line-height: 18.85px;
    }
    .text {
      margin-top: 1rem;
    }
 }