/* Contêiner principal do footer */

.line{
    height: 1px; /* Espessura da linha */
    background-color: #ddd; /* Cor da linha */
    
    width: 95%; /* Ocupa toda a largura da tela */
}
.footerContainer {
    background-color: #2d2d2d; /* Cor de fundo do footer */
    color: #eaeaea; /* Cor do texto */
     /* Espaçamento interno no eixo vertical */
    

}

/* Estilo interno do footer */
.innerContainer {
    
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
  
    padding: 2rem 0;
}

.linkContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
   
}

/* Estilo para o texto */
.text {
    font-size: 1.5rem; /* Tamanho da fonte */
    line-height: 36px; /* Altura da linha */
    text-align: center; /* Centraliza o texto */
    color:#EAE8E4;
}

/* Estilo para links no footer */
.link {
    color: #EAE8E4; /* Cor do link */
    text-decoration: none; /* Remove sublinhado */
    font-weight: 500; /* Peso da fonte */
    font-size: 1.5rem; /* Tamanho da fonte */
    line-height: 23.56px; /* Altura da linha */
}

.link:hover {

    text-decoration: none; /* Sublinha ao passar o mouse */
}
@media (max-width: 468px) {
    .link {
        color: #EAE8E4; /* Cor do link */
        text-decoration: none; /* Remove sublinhado */
        font-weight: 400; /* Peso da fonte */
        font-size: 1rem; /* Tamanho da fonte */
        line-height: 18.85px; /* Altura da linha */
    }
    .text {
      margin-top: 1rem;
    }
 }