.navbar {
   
    display: flex;
    align-items: flex-end;

}
.nav-link {
    font-size: 1.25rem;
    font-weight: 400;
    color: #EAE8E4; /* Cor do link */
    padding: 0;
}

.nav-link:hover {
    color: #ffffff; /* Cor ao passar o mouse */
}

/* .nav-item {
    margin-right: 1rem; 
} */

.brand-logo {
    height: 24px; /* Tamanho do logo */
    width: auto; /* Mantém a proporção */
    display: inline-block;
}

.navbar-collapse {
    /* Adicione estilos personalizados para o colapso */
    display: flex;
    align-items: flex-start;
    background-color: transparent !important; 
}

.navbar-nav {
    display: flex;
    align-items: center; /* Alinha os links verticalmente */
    gap: 1rem; /* Espaçamento entre os links */
}
/* Personaliza o botão do menu hambúrguer */
.navbar-toggler i {
    font-size: 1.5rem; /* Ajuste do tamanho */
    
}


@media (max-width: 475px) {
    .brand-logo {
        height:1rem; /* Tamanho reduzido para telas menores */
    }
    .divnav{
        justify-content:flex-start !important;
    }
}