.navbar {
   
    display: flex;
    align-items: flex-end;

}
.nav-link {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--base-gray2); 
    padding: 0;
}

.nav-link:visited {
    color: var(--base-gray2); 
}
.nav-link:hover {
    color: #ffffff; 
}


.brand-logo {
    height: 24px; 
    width: auto; 
    display: inline-block;
}

.navbar-collapse {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent !important; 
    transition: height 0.3s ease, opacity 0.3s ease;
    overflow: hidden; 
}

.navbar-nav {
    display: flex;
    align-items: center; 
    gap: 1rem; 
}

.navbar-toggler i {
    font-size: var(--Size15); 
    
}

.imageContainer {
    display: flex;
    justify-content: center; 
    padding: 1rem;
    width: 100%;
    position: relative; 
}

.image {
    width: 58px; 
    height: auto;
    border-radius: 8px;
}
.textOverlay {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, 50%);
    color: black; 
    font-size: 0.75rem; 
    font-weight: 400; 
    text-align: center;
    z-index: 1; 
    pointer-events: none; 
}






@media (max-width: 475px) {
    .brand-logo {
        height:1rem; 
        margin-left: 1rem;
    }
    .divnav{
        justify-content:flex-start !important;
        max-width: 100%; 
        padding: 0;
      
    }
    .navbar-collapse {
        
        background-color: #DFBBFE !important;
      

    }
    .navbar-nav {
        display: flex;
        flex-direction: column; 
        gap: 0.5rem; 
        list-style: disc; 
        padding: 1rem 0 1rem 3rem;

    }

    .nav-item {
        margin-bottom: 0.5rem; 
       
    }

    .nav-link {
        font-size: 1.25rem; 
        color: #2D2D2D !important; 
        
    }


}