.productButton {
  font-family: 'Inter', sans-serif;
  border-radius: 32px;
  border: 1px solid var(--base-purple);
  padding: 8px 40px;
  background-color: #DFDCD5;
  color: var(--base-purple);
  font-size: var(--Size1);
  font-weight: 600;
  line-height: 1.875rem;
  cursor: pointer;


}


@media (max-width: 465px) {
  .productButton {
    padding: 8px 16px;
    font-size: var(--Size1);
    line-height: var(--Size1);
  }

}