.sectionContainer {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.gridRow {
    max-width: 99%;
    background-color: #3C0C60;
    border-radius: 1.5rem;
    padding: 2rem
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftColumn h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #EAE8E4;
    margin-bottom: 0.5rem;
    line-height: 46.92px;

}

.leftColumn p {

    font-size: 1.20rem;
    line-height: 28.27px;
    color: #EAE8E4;

}


.rightColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
}


@media (max-width: 465px) {

    .leftColumn h2 {

        font-size: 1.5rem;
        line-height: 28.15px;

    }

    .leftColumn p {

        font-size: 1rem;
        line-height: 18.85px;
        

    }

    .gridRow {
        max-width: 99%;
        background-color: #3C0C60;
        border-radius: 1rem;
        padding: 1.5rem;
    }



}