.sectionContainer {
    background-color: var(--base-gray);
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url('../assets/logos-monks (1).png');
    background-size: 50%;
    background-position: calc(100% + 120px) center;
    background-repeat: no-repeat;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;


}

.content {
    padding: 1rem;
    font-size: 1.25rem;
    color: #333;
}

h1 {
    color: var(--base-gray2) !important;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

p {
    color: #fff!important;
    font-size: var(--Size15);
    line-height: 1.6;
    margin-bottom: 1rem;
}

.section1main {
    width: 75%;
    padding-top: 3.75rem;
    padding-bottom: 1rem;

}

.imageContainer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: auto;
    height: 100%;
    max-height: 100%;
}

@media (max-width: 475px) {
    .sectionContainer {
        height: auto;
        background-size: 125%;
        background-position: calc(100% + 180px) center;

        border-radius: 0;

    }

    h1 {
        color: var(--base-gray2) !important;
        font-size: var(--Size15);
        font-weight: 700;

    }

    p {
        font-size: var(--Size1);
    }

    .section1main {
        width: 50%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

    }

}