.sectionContainer {
    margin: 0;
}

.sectionTitle {
    font-size: 2.5rem;
    line-height: 46.92px;
    font-weight: 400;
    color: #2d2d2d !important;
    text-align: start;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}


.sectionParagraph {
    font-size: 1.5rem;
    line-height: 28.27px;
    color: #2d2d2d !important;
    text-align: start;
    margin-bottom: 2rem;
}

.gridItem {

    border-radius: 8px;
    margin-bottom: 1rem;

}