/* Contêiner principal da seção */
.sectionContainer {


    margin: 0;
    /* Remove margem padrão */

    border: 1px solid #ddd;
    /* Borda externa para visualização */
}

/* Contêiner interno */

/* Estilo do título */
.sectionTitle {
    font-size: 2.5rem;
    line-height: 46.92px;
    /* Tamanho do título */
    font-weight: 400;
    /* Negrito */
    color: #2d2d2d !important;
    /* Cor do texto */
    text-align:start;
    /* Centraliza o título */
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    /* Espaçamento inferior */
}

/* Estilo do parágrafo */
.sectionParagraph {
    font-size: 1.5rem;
    /* Tamanho da fonte */
    line-height: 28.27px;
    /* Espaçamento entre linhas */
    color: #2d2d2d !important;
    text-align:start;
    /* Centraliza o texto */
    margin-bottom: 2rem;
    /* Espaçamento inferior */
}

/* Estilo dos itens no grid */
.gridItem {

   
    /* Borda para visualização */
    border-radius: 5px;
    /* Bordas arredondadas */
    height: 200px;
    /* Altura fixa */
    margin-bottom: 1rem;
    /* Espaçamento inferior entre itens */
}