.innerContainer {
  margin-bottom: 4rem;
}

.innerContainer h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--base-gray);
  margin-bottom: 1rem;
  line-height: 46.92px;

}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

@media (max-width: 768px) {
  .buttonContainer {

    gap: 8px;
  }

  .innerContainer h2 {
    font-size: var(--Size15);
    font-weight: 400;
    color: var(--base-gray);
    margin-bottom: 1rem;
    line-height: 28.15px;

  }



}