/* Contêiner principal da seção */
.sectionContainer {
   
}

/* Contêiner interno */
.innerContainer {
   
}

/* Estilo para a linha */
.gridRow {
    display: flex;
    
}

/* Coluna maior (esquerda) */
.leftColumn {
    height: 150px;
    border-radius: 8px; /* Bordas arredondadas */
   
   
}

/* Coluna menor (direita) */
.rightColumn {
    height: 150px;
    border-radius: 8px; /* Bordas arredondadas */
    
    
}

/* Responsividade */
@media (max-width: 768px) {
    .gridRow {
        flex-direction: column; /* Empilha as colunas verticalmente */
        gap: 1rem; /* Reduz o espaçamento */
    }

    .leftColumn, .rightColumn {
        padding: 0.75rem; /* Reduz o espaçamento interno */
    }
}
