/* Estilo para o contêiner principal */
.footerContainer {
    background-color: #2d2d2d; /* Fundo escuro */
    color: #fff; /* Texto branco */
    padding: 2rem 0; /* Espaçamento superior e inferior */
}

/* Contêiner interno */
.innerContainer {
  
}

/* Estilo para a grade */
.gridRow {
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha */
   
}

/* Colunas */
.gridColumn {
    background-color: #3c3c3c; /* Fundo cinza escuro */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    color: #fff; /* Texto branco */
    text-align: center; /* Centraliza o conteúdo */
    height: 250px;
}

/* Responsividade */
@media (max-width: 768px) {
 
}
