/* Contêiner principal da seção */
.sectionContainer {
    margin-top: 2rem;
    height: 44.81rem;
}

.gridColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
   
}

/* Colunas */

/* Estilo para o título e parágrafo */
.title {
    height: 25%;
    margin-bottom: 1rem;
}

.title h2 {
    font-size: 2.5rem; /* Tamanho do título */
    font-weight: 400; /* Título em negrito */
    color: #2d2d2d; /* Cor do título */
    margin-bottom: 0.5rem; /* Espaçamento inferior */
    line-height: 46.92px;
}

.title p {
    font-size: 1.5rem; /* Tamanho do texto */
    line-height: 28.27px;; /* Espaçamento entre linhas */
    color: #2d2d2d !important; /* Cor do parágrafo */
}

/* Estilo para a imagem */
/* Estilo da div que contém a imagem */
.image {
   
   
    border-radius: 24px; /* Bordas arredondadas */
    height: 75%; /* Altura fixa */
    width: 100%; /* Largura total */
    padding: 0;
    

  
}


/* Estilo da imagem */
.imageContent {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura */
    height: auto; /* Mantém a proporção */
    object-fit: cover;
    
 
}

.imageContent2{
    height: 100%;
    
}



/* Responsividade */

@media (min-width: 465px) and (max-width: 820px) {
    .image {
        height: 100%; /* Garante que a imagem preencha a altura da div */
    }

    .imageContent {
        width: 100%; /* Garante que a imagem ocupe a largura completa */
        height: 100%; /* Preenche a altura da div */
        object-fit: cover; /* Faz com que a imagem preencha a div sem distorção */
    }
 
}



@media (max-width: 465px) {
    .title h2 {
        font-size: 1.5rem; /* Tamanho do título */
        line-height: 28.15px;
    }
    .title p {
        font-size: 1rem; /* Tamanho do texto */
        line-height: 18.85px;; /* Espaçamento entre linhas */

    
    }
    .gridColumn{
        margin-top: 2rem;
    }
    .image {
   
   
     height: 65%;
      
    }
  
}
