/* Contêiner principal da seção */
.sectionContainer {
  
}

/* Contêiner interno */
.innerContainer {
    

  
 
}

/* Estilo para a linha */
.gridRow {
    max-width: 99%;
    background-color: #3C0C60;
    border-radius: 1.5rem;
    padding:2rem
    
}

/* Coluna maior (esquerda) */
.leftColumn {
  
    
   
   
}
.leftColumn h2 {
    font-size: 2rem; /* Tamanho do título */
    font-weight: 400; /* Título em negrito */
    color: #EAE8E4; /* Cor do título */
    margin-bottom: 0.5rem; /* Espaçamento inferior */
    line-height: 46.92px;
    
    
   
   
}
.leftColumn p {
  
    font-size: 1.20rem; /* Tamanho do texto */
    line-height: 28.27px;; /* Espaçamento entre linhas */
    color: #EAE8E4; /* Cor do título */
   
   
}

/* Coluna menor (direita) */
.rightColumn {
  
    
    
    
}


/* Estilo para a coluna direita */
.rightColumn {
    display: flex; /* Configura como flexbox */
    flex-direction: column; /* Organiza as imagens em coluna */
    
    align-items: center; /* Centraliza as imagens horizontalmente */
    justify-content: center; /* Centraliza as imagens verticalmente */
}

/* Estilo para as imagens */
.image {
    width: 100%; /* Ajusta a largura para caber na coluna */
  
 
}



/* Responsividade */
@media (max-width: 465px) {

    .leftColumn h2 {
      
        font-size: 1.5rem; /* Tamanho do título */
    line-height: 28.15px; 
        
       
       
    }
    .leftColumn p {
  
        font-size: 1rem; /* Tamanho do texto */
        line-height: 18.85px;; /* Espaçamento entre linhas */
       
       
    }
    .gridRow {
        max-width: 99%;
        background-color: #3C0C60;
        border-radius: 1rem;
        padding:1.5rem
        
    }
   


}
